<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <div class="text-center">
      <h2 class ="my-4">管理者ログイン</h2>


      <%= form_with(scope: :admin, url: admin_session_path, method: :post, local: true) do |f| %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>

      <div class="field mt-2">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field my-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン",class:"btn btn-submit" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
