<div class="hero-section">
  <div class="container-fluid">
    <div class ="row">
      <div class ="custom-height col-md-5">
        <div class ="first-concept"><span class="first-concept1">みんなの旅行計画を覗いてみよう<br></span><span class="first-concept2">旅行がもっと楽しくなるはず<br></span>
          <span class="first-concept3">旅のしおりの共有サイト<br></span>
          <div class ="topimage1-mobile"><%= image_tag "logo-w-sm.png",class:"logo-w-mobile img-fluid" %></div>
          <div class ="mobile-login-mockup">
            <div class ="first-concept-box">
              <%= link_to new_user_registration_path, class: "first-concept-link" do %>
                <p class ="first-concept-link">＿新規登録</p>
              <% end %>
              <%= link_to new_user_session_path, class: "first-concept-link" do %>
                <p class ="first-concept-link">＿ログイン</p>
              <% end %>
              <%= link_to users_guest_sign_in_path, class: "first-concept-link" do %>
                <p class ="first-concept-link">＿ゲストログイン</p>
              <% end %>
            </div>
            <div class ="topimage2-mobile"><%= image_tag "mockup.png",class:"mockup-image-mobile" %></div>
          </div>
        </div>
      </div>
      <div class ="topimages col-md-6">
        <div class ="topimage1"><%= image_tag "logo-w.png",class:"img-fluid mt-5" %></div>
        <div class ="topimage2"><%= image_tag "mockup.png",class:"img-fluid mockup-image" %></div>
      </div>
    </div>
  </div>
</div>

<!-- about us-->
<div class ="aboutus-title row">
  <div class ="aboutus-title-text col-10 offset-1 mt-4">私たちについて</div>
</div>

<div class ="aboutus-text container my-4">
  <div class ="row d-flex justify-content-between">
    <div class ="col-md-9">
      <div class ="aboutus-info my-5 ml-4">
        旅行が大好き。けれど計画が難しい
        <br>立てた旅行プランをみんなにおすすめしたい<br>
        プランを確認するとき、地図も一緒にみたい
      </div>
      <div class ="aboutus-info2 pt-3 m-4">
        <p>そんな、方々のために</p>
        <p class ="about-introduction">「旅のしおりのシェアサイト」</p>
        <p>を作りました。</p>
      </div>
    </div>

    <div class ="col-md-3">
      <div class ="row d-flex justify-content-end mt-5">
        <div class ="aboutus-info3 bg-white p-4">みなさまの旅行が<br>もっと楽しい思い出に<br>なりますように。</div>
      </div>
    </div>
  </div>
</div>



<!-- 使い方　-->
<div class ="howtitle row mt-5 mb-4">
  <div class ="howtitle-text col-10 offset-1 mt-4">使い方</div>
</div>

<div class ="how-contents container my-5">
  <div class='howrow row d-flex justify-content-between'>
    <div class="how-container text-center col-md-4 shadow card-body">
      <h5 class="howtitle-sm text-truncate ">おすすめのしおりを探す</h5>

      <div class ="howlogotext">
        <div class ="howlogo1">
          <%= image_tag "howlogo1.png",class:"howlogo-pc img-fluid mt-2" %>
          <%= image_tag "howlogo1-mobile.png",class:"howlogo-mobile img-fluid mt-2" %>
        </div>
        <h5 class="how-text">
          旅行の計画に困ったこと、<br>
          ありませんか？そんな時は<br>
          誰かのおすすめプラン<br>
          を参考にしましょう<br>
        </h5>
      </div>
    </div>
    <div class="how-container col-md-4 text-center shadow card-body">
      <h5 class="howtitle-sm text-truncate">プランをみんなにシェア</h5>
      <div class ="howlogotext">
        <div class ="howlogo1">
          <%= image_tag "howlogo2.png",class:"howlogo-pc img-fluid mt-2" %>
          <%= image_tag "howlogo2-mobile.png",class:"howlogo-mobile img-fluid mt-2" %>  
        </div>
        <h5 class=" how-text">
          自分が立てた<br>
          旅行プランをシェア<br>
          してみましょう。<br>
          みんなで旅行計画を<br>
          盛り上げましょう<br>
        </h5>
      </div>
    </div>

    <div class="how-container col-md-4 text-center shadow card-body">
      <h5 class="howtitle-sm text-truncate">旅行中に確認</h5>
      <div class ="howlogotext">
        <div class ="howlogo1">
          <%= image_tag "howlogo3.png",class:"howlogo-pc img-fluid mt-2" %>
          <%= image_tag "howlogo3-mobile.png",class:"howlogo-mobile img-fluid mt-2" %>
        </div>
        <h5 class=" how-text">
          次の行き先はどこ？<br>
          そんな時にすぐさま確認！<br>
          地図付きだから<br>
          迷いなく次の目的地へ<br>
          行くことができます<br>
          <p class ="howcaution">※スマホ対応バージョン近日リリース予定</p>
        </h5>
      </div>
    </div>
  </div>
</div>


<%= render 'layouts/footer' %>
