<table class="table table-borderless">
  <tr class="mb-2">
    <td><p class ="form-text"><%= f.label :day_number, '日程' %></p></td>
    <td><%= f.number_field :day_number, min: 1,max:max_day, class: 'w-25 form-control' %>日目</br><p class="text-muted mt-1">※ しおりの日数の範囲内で選択してください</p></td>
  </tr>
  <tr class="mb-2">
    <td><p class ="form-text"><%= f.label :start_time, '開始時間' %></p></td>
    <td><%= f.time_field :start_time,class: ' form-control' %></td>
  </tr>
  <tr class="mb-2">
    <td><p class ="form-text"><%= f.label :name, '行き先' %></p></td>
    <td><%= f.text_field :name, placeholder: '行き先名',class: 'form-control' %></td>
  </tr>
  <tr class="mb-2">
    <td><p class ="form-sub-text"><%= f.label :destination_image,'写真（任意）' %></p></td>
    <td><%= f.file_field :destination_image, class: "form-control-file user_image", accept: 'image/*' %></td>
  </tr>
  <tr class="mb-2">
    <td><p class ="form-sub-text">郵便番号</p></td>
    <td><%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "（任意・住所が自動入力されます）" %></td>
  </tr>
  <tr class="mb-2">
    <td><p class ="form-sub-text"><%= f.label :address, '住所' %></p></td>
    <td><%= f.text_field :address, placeholder: '（任意・しおり確認ページで地図が見れます）',class: 'form-control' %></td>
  </tr>
  <tr class="mb-2">
    <td><p class ="form-sub-text"><%= f.label :note, 'メモ（任意）' %></p></td>
    <td><%= f.text_area :notes,placeholder: '（任意・やりたいこと、金額等）',class: 'form-control' %></td>
  </tr>
</table>