<div class="view container-fluid mb-5">

  <div class="row my-2">
    <h3 class ="view-tag">
      行き先の編集
    </h3>
  </div>

  <!-- エラーメッセージの表示 -->
  <div class="row">
    <h3>
      <%= render 'layouts/errormessage', obj: @destination %>
    </h3>
  </div>

  <!-- メインコンテンツを中央揃え -->
  <div class="row">
    <div class="col-6 mr-auto">

      <!-- しおりタイトル -->
      <div class="shadow card-body p-3 shiori-title">
        <div class ="row p-0">
          <div class ="col-md-9">
            <div class="p-1">
              <h4 class ="shiori-title-text">タイトル：<%= @itinerary.title %></h4>
            </div>
            <!-- しおり情報 -->
            <div class=" mt-2 d-flex justify-content-between">
              <div class ="d-flex">
                <div class="mr-2 ">地域：<%= @itinerary.region_i18n %></div>
                <div>日数：<%= @itinerary.day_number %>日間</div>
              </div>
            </div>
          </div>
          <div class ="col-md-3">
            <%= image_tag @itinerary.get_key_image, alt: "Key Image", class: "key-image img-fluid p-2" %>
          </div>
        </div>      
      </div>

      <!-- 行き先リストタイトル -->
      <div class="mt-4 mb-3 d-flex justify-content-between">
        <div>
          <h4 class ="m-0 destination-list-title">行き先リスト</h4>
        </div>
      </div>

      <!-- 行き先リスト　順に表示 -->
      <% if @destinations.any? %>
        <div class ="destination-list-container p-0">
          <% @destinations.each do |destination| %>
            <div class="destination-item shadow card-body mb-3 p-3">
              <div class="row p-0">

                <!-- 行き先の詳細 -->
                <div class ="col-md-9">
                  <div class ="row">
                    <div class="col-md-5">
                      <div class="d-flex">
                        <div class="destination-important mr-1"><%= destination.day_number %>day<%= destination.start_time.strftime('%H:%M') %></div>
                      </div>
                      <div>
                        <h5 class ="my-2 destination-name"><%= destination.name %></h5>
                      </div>
                    </div>

                    <div class="col-md-7">
                      <div>住所: <%= destination.address %></div>
                      <div>メモ: <%= destination.notes %></div>
                      <div class ="d-flex mt-1">
                        <% if destination.persisted? %>
                          <%= link_to '編集する', edit_index_itinerary_destinations_path(destination.itinerary, action_type: 'edit', destination_id: destination.id), class: 'btn btn-sm btn-submit mr-1' %>
                          <%= link_to '削除', itinerary_destination_path(destination.itinerary, destination), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-caution' %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class ="col-md-3">
                  <%= image_tag destination.get_destination_image, alt: "Destination Image", class: "key-image img-fluid p-2" %>
                </div>
              </div>
            </div>
          <% end %>
          <div class ="text-center">
            <%= link_to '行き先を決定する', status_change_itinerary_path(@itinerary,status: @previous_status,completed: true), method: :patch,class: 'btn btn-submit btn-hover my-3 p-2', data: { turbolinks: false } %>
          </div>
        </div>
      <% else %>
        <div class="text-center shadow card-body">まだ登録された行き先はありません。<br>投稿するには、少なくとも1つの行き先を追加してください。</div>
      <% end %>
    </div>

    <!-- 新しい行き先追加フォーム　編集、を押すと編集フォームに変わる -->
    <div class="form-container col-6" >
      <% if @form_type == 'edit' %>
        <div class="row shadow">
          <div class="destination-edit-form card-body p-4">
            <h4 class= "destination-edit-form-title p-1">行き先編集フォーム</h4>
            <%= form_with model: [@itinerary, @destination], url: itinerary_destination_path(@itinerary, @destination), 
                          method: :patch, 
                          local: true do |f| %>

              <%= render 'destination_form', f: f, max_day: @max_day %>

              <!-- 編集をやめる、行き先更新ボタン -->
              <div class="d-flex justify-content-end">
                <%= link_to '編集をやめる' ,edit_index_itinerary_destinations_path(@itinerary, action_type: 'new'), class: 'btn btn-caution mr-2' %>
                <%= f.submit '行き先を更新', class: 'btn btn-submit' %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- 編集フォーム -->
      <% else %>
        <div class="row shadow">
          <div class="destination-form card-body p-4">
            <h4 class ="destination-form-title p-1">行き先追加フォーム</h4>
            <%= form_with model: [@itinerary, @destination], 
                          url: itinerary_destinations_path(@itinerary), 
                          method: :post, 
                          local: true do |f| %>

              <%= render 'destination_form', f: f, max_day: @max_day %>

              <div class="d-flex justify-content-end">
                <%= f.submit '行き先を追加', class: 'btn btn-submit' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
