<!-- しおりタイトル -->
<div class="shadow card-body my-1 p-2">
  <div class="bg-light p-1">
    <%= link_to admin_itinerary_path(itinerary), class:"btn text-decoration-underline" do %>
      <h5>タイトル：<%= itinerary.title %></h5>
    <% end %>
  </div>

  <div class=" mt-2 d-flex justify-content-between">
    <!-- 編集・削除ボタン -->
    <div>
      <div class="d-flex justify-content-between">
        <%= link_to '不適切な投稿として削除', admin_itinerary_path(itinerary), method: :delete, 
                    data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-caution mr-2" %>
      </div>
    </div>
    <div class ="d-flex">
    <!-- しおり情報 -->
      <div class ="mr-2">行き先登録数：<%= itinerary.destinations.count %>件</div>
      <div>コメント数：<%= itinerary.post_comments.count %>件</div>
    </div>
  </div>
</div>
