<table class="table table-borderless">
<tr class="mb-3">
  <td><%= f.label :title, 'タイトル(２０文字)' %></td>
  <td><%= f.text_field :title,placeholder: '例: 夏の京都旅行',class: 'form-control'%></td>
</tr>

<tr class="mb-3">
  <td><%= f.label :region, '地域' %></td>
  <td><%= f.text_field :region, placeholder: '例: 関西',class: 'form-control' %></td>
</tr>

<tr class="mb-3">
  <td><%= f.label :day_number, '日数' %></td>
  <td><%= f.number_field :day_number,placeholder: '旅行の日数',min: 1 ,class: 'form-control'%></td>
</tr>
</table>

      