<!-- しおりタイトル -->
<div class="shadow card-body my-3 p-4">
  <div class="bg-light p-2">
    <%= link_to itinerary_path(itinerary), class: 'headding' ,data: { turbolinks: false } do %>
      <h4 class="m-0">タイトル：<%= itinerary.title %></h4>
    <% end %>
  </div>

  <div class=" mt-3">
    <div class ="d-flex">
    <!-- しおり情報 -->
      <div class="mr-2 ">地域：<%= itinerary.region %></div>
      <div>日数：<%= itinerary.day_number %>日間</div>
    </div>
    <!-- 編集・削除ボタン -->
    <div>
      <% if @user == current_user %>
      <%= itinerary.status %>
      <div class="d-flex justify-content-between">
        <%#= link_to 'しおりを削除', itinerary_path(itinerary), method: :delete, 
                    data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-caution mr-2" %>
        <%#= link_to 'タイトル編集', edit_itinerary_path(itinerary), class: "btn btn-sm btn-submit" %>
        <%= link_to 'みんなが見られるようにする', status_change_itinerary_path(itinerary, status: 'published'), method: :patch %>
        <%= link_to '自分だけが見られるようにする', status_change_itinerary_path(itinerary, status: 'unpublished'), method: :patch %>
        <%= link_to '編集中にする', status_change_itinerary_path(itinerary, status: 'draft'), method: :patch %>
      </div>
      <% end %>
    </div>
  </div>
</div>
