<h1>しおりタイトル作成</h1>

<%= form_with model: @itinerary, local: true do |f| %>
  <!-- 基本情報フォーム -->
  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :region, '地域' %>
    <%= f.text_field :region %>
  </div>
  <div>
    <%#= f.label :start_time, '開始日' %>
    <%#= f.date_field :start_time %>
  </div>
  <div>
    <%= f.label :day_number, '日数' %>
    <%= f.number_field :day_number, min: 1 %>
  </div>
  <%= f.submit '行き先を追加する', class: 'btn btn-primary' %>
<% end %>
