<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
  <div class="row w-50">
    <div class="col offset-1 m-4">
      <h2>ログイン</h2>

      <%= form_with(url: session_path(resource_name), method: :post, local: true) do |f| %>

      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :user_id, "ユーザーID" %><br />
        <%= f.text_field :user_id, autofocus: true, autocomplete: "user_id", placeholder: "taro1234" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
