<header>
  <nav class=" header navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <div class="d-flex align-items-center">
        <!-- ロゴ -->
        <div>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo-b.png", alt: "ロゴ", class: "desktop-logo",height: "50" %>
            <%= image_tag "logo-b-sm.png", alt: "モバイル用ロゴ", class: "mobile-logo",height: "50" %>
          <% end %>
        </div>
        
        <!-- 検索窓 -->
        <div class="search-form w-50">
        <% if admin_signed_in? %>
          <%= render 'admin/searches/form' %> <!-- 管理者用の検索フォーム -->
        <% elsif user_signed_in? %>
          <%= render 'public/searches/form' %> <!-- ユーザー用の検索フォーム -->
        <% end %>
        </div>
      </div>

      <!-- ヘッダーのメソッドはapplication.helperに記述している -->

      <!-- ナビゲーションメニュー表示エリア -->
      <div class="navigation-pc justify-content-end" id="navbarContent">
        <ul class="navbar-nav">
          <%= render_navigation %>
        </ul>
      </div>


      <!-- ナビゲーションメニュー表示エリア　モバイル版 -->
      <span class ="navigation-mobile">
        <div id="user-menu">
          <p>アカウント</p>
          <% if admin_signed_in? %>
            <ul>
              <li><%= link_to destroy_admin_session_path,class: "link",method: :delete do %>管理者ログアウト<% end %></li>
            </ul>
          <% elsif user_signed_in? %>
            <ul>
              <li><%= link_to destroy_user_session_path,class: "link",method: :delete do %>ログアウト<% end %></li>
            </ul>
          <% else %>
            <ul>
            <li><%= link_to new_user_session_path,class: "link" do %>ログイン<% end %></li>
            <li><%= link_to users_guest_sign_in_path,class: "link", method: :post do %>ゲストログイン<% end %></li>
            <li><%= link_to new_user_registration_path,class: "link" do %>新規登録<% end %></li>
          </ul>
          <% end %>
        </div>

        <div id="user-icon">
          <a class="user-menu-trigger" href="#">
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>

        <!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">使い方<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">しおり一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">しおり作成</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">マイページ</a>
            </li>
             ドロップダウンタイプ 
            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                アカウント
              </div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">ログアウト</a>
              </div>
            </li>
          </ul>
        </div>
        -->
      </span>




    </div>
  </nav>
  <% unless admin_signed_in? %>
    <div class ="container-fluid region-select d-flex justify-content-between mb-3 w-75">
      <%= link_to "北海道", search_region_path(region: "hokkaido"), class: "region-link"%>
      <%= link_to "東北", search_region_path(region: "tohoku"), class: "region-link"%>
      <%= link_to "関東", search_region_path(region: "kanto"), class: "region-link"%>
      <%= link_to "北陸", search_region_path(region: "hokuriku"), class: "region-link"%>
      <%= link_to "東海", search_region_path(region: "tokai"), class: "region-link"%>
      <%= link_to "関西", search_region_path(region: "kansai"), class: "region-link"%>
      <%= link_to "中国", search_region_path(region: "chugoku"), class: "region-link"%>
      <%= link_to "四国", search_region_path(region: "shikoku"), class: "region-link"%>
      <%= link_to "九州", search_region_path(region: "kyushu"), class: "region-link"%>
      <%= link_to "沖縄", search_region_path(region: "okinawa"), class: "region-link"%>
      <%= link_to "海外", search_region_path(region: "overseas"), class: "region-link"%>
    </div>
  <% end %>
</header>