<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <div class="d-flex align-items-center">
        <!-- ロゴ -->
        <div>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo-b.png", alt: "ロゴ", height: "50" %>
          <% end %>
        </div>
        
        <!-- 検索窓 -->
        <div class="w-50">
          <%= render 'public/searches/form' if user_signed_in? %> <!-- ユーザー用の検索フォーム -->
          <%= render 'admin/searches/form' if admin_signed_in? %> <!-- 管理者用の検索フォーム -->
        </div>
      </div>

      <!-- ヘッダーのメソッドはapplication.helperに記述している -->

      <!-- ナビゲーションメニュー表示エリア -->
      <div class=" justify-content-end" id="navbarContent">
        <ul class="navbar-nav">
          <%= render_navigation %>
        </ul>
      </div>
    </div>
  </nav>
</header>