<!DOCTYPE html>
<html>
  <head>
    <title>MinnaNoTabiji</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--font awesome 読み込み　-->
    <script src="https://kit.fontawesome.com/5437992f41.js" crossorigin="anonymous"></script>
    <!--scssファイル 読み込み　-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if controller.class.name.start_with?("Admin::") || controller.class.name == "Public::HomesController" %>
      <%= render 'layouts/flashmessage' %>
      <%= yield %>
    <% else %>
      <div class ="bg-sea">
        <%= render 'layouts/flashmessage' %>
        <%= yield %>
      </div>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap" async defer></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap&v=weekly&libraries=marker"async></script>
  </body>
</html>
