<!DOCTYPE html>
<html>
  <head>
    <title>MinnaNoTabiji</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--font awesome 読み込み　-->
    <script src="https://kit.fontawesome.com/5437992f41.js" crossorigin="anonymous"></script>
    <!--scssファイル 読み込み　-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashmessage' %>
    <%= yield %>
  </body>
</html>
